<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de</h2>
        <div class="btn-edit">
            <a href="#" class="btn-rigth"></a>
        </div>
    </div>
    <div>

        <div class="about-img">
            <img src= "../assets/selfie.jpg" alt="about" />    
        </div>             

        <h3>Déjame decirte algo sobre mí</h3>
        <p>
          Trabajo como auditor en una empresa de retail en la cual me estoy 
          capacitando en ABAP que es un lenguaje de programación exclusivo del sistema SAP.
        </p>
    </div>
</div>

